<section id="header">
  <header class="menu-logo">
    <span class="image avatar"><img src="{{ "/images/avatar.jpg" | absolute_url }}" alt="" /></span>
    <a><h1 id="logo">Flavio Silva</h1></a>
    <p>Software engineer and stuff ッ</p>
    
  </header>
  {% assign current = page.url | downcase | split: '' %}
  <nav id="nav">
    <ul>
      {% for link in site.data.navigation %}
      {% assign class = nil %}
      {% if page.url == link.url %}
          {% assign class = 'active' %}
      {% endif %}
      <li><a href="{{ link.path | absolute_url }}" class="{{ class }}">{{link.name}}</a></li>
      {% endfor %}
    </ul>
  </nav>
  <footer>
    <ul class="icons">
      <li><a href="https://github.com/flavio1110" target="_blank" class="icon brands fa-twitter"><span class="label">Twitter</span></a></li>
      <li><a href="https://www.linkedin.com/in/flavio1110" target="_blank" class="icon brands fa-linkedin"><span class="label">Instagram</span></a></li>
      <li><a href="https://github.com/flavio1110" target="_blank" class="icon brands fa-github"><span class="label">Github</span></a></li>
      <li><a href="mailto:flavio1110@gmail.com" target="_blank" class="icon solid fa-envelope"><span class="label">Email</span></a></li>
    </ul>
  </footer>
</section>