<section id="header">
  <header>
    <span class="image avatar"><img src="./images/avatar.jpg" alt="" /></span>
    <h1 id="logo">Flavio Silva</h1>
    <p>I solve problems writing code or not ッ</p>
  </header>
  <nav id="nav">
    <ul>
      <li><a href="#one" class="active">About</a></li>
      <li><a href="#two">Things I Can Do</a></li>
      <li><a href="#three">A Few Accomplishments</a></li>
      <li><a href="#four">Contact</a></li>
    </ul>
  </nav>
  <footer>
    <ul class="icons">
      <li><a href="https://github.com/flavio1110" target="_blank" class="icon brands fa-twitter"><span class="label">Twitter</span></a></li>
      <li><a href="https://www.linkedin.com/in/flavio1110" target="_blank" class="icon brands fa-linkedin"><span class="label">Instagram</span></a></li>
      <li><a href="https://github.com/flavio1110" target="_blank" class="icon brands fa-github"><span class="label">Github</span></a></li>
      <li><a href="mailto:flavio1110@gmail.com" target="_blank" class="icon solid fa-envelope"><span class="label">Email</span></a></li>
    </ul>
  </footer>
</section>