.home-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    gap:1rem;
    margin: 2rem;
    
}
.home-container p {
    margin:0 0 .7rem;
}

.card {
    background-color: _palette(header, bg);
    border-radius: .5rem;
    padding: 1rem;
    color: #fff;
    -webkit-box-shadow: 5px 5px 8px 1px rgba(69,68,69,0.52);
    -moz-box-shadow: 5px 5px 8px 1px rgba(69,68,69,0.52);
    box-shadow: 5px 5px 8px 1px rgba(69,68,69,0.52);
    h3 {
        color: #fff!important;
        font-weight: normal;
    }
    a:hover {
        color:#fff!important;
    }
    .icons-card {
        margin:2rem 0 0 0;
        
        a {
            font-size: 1.5rem;
        }
    }   
}
#header {
    font-family: "Lato";
    -webkit-box-shadow: -3px 1px 3px -1px rgba(105,105,105,0.65); 
    -moz-box-shadow: -3px 1px 3px -1px rgba(105,105,105,0.65); 
    box-shadow: -3px 1px 3px -1px rgba(105,105,105,0.65);
}

.menu-logo {
    height: 17em;
}

.main img {
    -webkit-box-shadow: 0px 3px 2px -1px #696969; 
    -moz: 0px 3px 2px -1px #696969; 
    box-shadow: 0px 3px 2px -1px #696969;
}

.center {
    text-align: center;
}

.px-2{
    padding-left:2rem;
    padding-right:2rem;
}